<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://select2.github.io/select2/select2-3.5.2/select2.css">
</head>
<body>
    <select id="e1" style="width:300px;">
        <optgroup label="A1 comps">
           <option value="A1">AAA 1</option>
           <option value="A2">AAA 2</option>
           <option value="A#">AAA 3</option>
           <option value="A4">AAA 4</option>
       </optgroup>
       <optgroup label="B1 comps">
           <option value="B1">BBB 1</option>
           <option value="B2">BBB 2</option>
           <option value="B3">BBB 3</option>
           <option value="B4">BBB 4</option>
       </optgroup>
    </select>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://select2.github.io/select2/select2-3.5.2/select2.js"></script>
    <script>
        $(function() {
            // $("#e1").val("B1").select2();
            
            $("#e1").select2({
                minimumInputLength: 3,
            });

            $("#e1").val("B3").change();

            $("#e1").on("select2-opening", function() { 
                $(this).on("select2-open", function() { 
                    $(this).select2("search","BB234798132786wq8sdaB");
                });
            })


        });
    </script>
</body>
</html>